.employee-wrapper {
  margin-left: 12px;
  height: 100%;
  margin-top: 12px;
}

.employee-title {
  font-size: 32px;
  font-weight: 800;
  margin-left: 12px;
  margin-bottom: 18px;
}

.employee-container {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.employee-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-search__input {
  width: 652px;
  height: 52px;
  border-radius: 30px;
  background-color: #c1caeb;
  padding-left: 24px;
  margin-top: 32px;
  color: #000;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.employee-search__input::placeholder {
  color: #a77d7d;
}

.employee-table {
  margin: 48px 24px 0px;
}

.employee-table-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.employee-table-action__management {
  font-size: 26px;
  font-weight: 300;
  color: #374a67;
}

.employee-table-action__add {
  height: 32px;
  width: 92px;
  background-color: #34c759;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.employee-footer {
  display: flex;
  justify-content: end;
  margin-top: 54px;
  width: 75%;
  column-gap: 28px;
}

.btn {
  height: 24px;
  width: 92px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn--action {
  background-color: rgba(0, 169, 117, 10%);
  color: #00a975;
  border: 1px solid #00a975;
}

.btn--lock {
  background-color: rgba(222, 91, 108, 10%);
  color: #de5b6c;
  border: 1px solid #de5b6c;
}
