.profile-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Tăng chiều rộng tối đa để có không gian cho cả ảnh và biểu mẫu */
  margin: 40px auto;
}

.profile-content {
  display: flex; /* Căn giữa phần nội dung */
  justify-content: space-between; /* Phân chia giữa biểu mẫu và phần ảnh */
  align-items: flex-start; /* Căn chỉnh các mục lên đầu */
}

.profile-form {
  flex: 1; /* Chiếm không gian còn lại */
  margin-right: 20px; /* Khoảng cách giữa phần biểu mẫu và ảnh */
}

.profile-image {
  text-align: center; /* Căn giữa nội dung trong phần cập nhật ảnh */
  width: 200px; /* Đặt chiều rộng cho phần ảnh */
}

.profile-image h3 {
  margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
}
.form-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 12px;
}
.form-item {
  margin-bottom: 24px; /* Tăng khoảng cách giữa các ô */
}