.sidebar {
  min-width: 240px;
  background-color: #fff;
}

.sidebar-menu {
  width: 100%;
}

.ant-menu-item {
  border-radius: 0 !important;
  padding: 12px 0px 12px 12px !important;
  margin: 0 !important;
  width: 100% !important;
  height: 60px !important;
}

.ant-menu-item-selected {
  background-color: #e1e1e1 !important;
  color: #000 !important;
}

.ant-menu-submenu-title {
  border-radius: 0 !important;
  padding: 12px 0px 12px 12px !important;
  margin: 0 !important;
  width: 100% !important;
  color: #000 !important;
  height: 60px !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  background-color: #e1e1e1 !important;
  color: #000;
}
