.maintenance-wrapper {
  margin-left: 12px;
  height: 100%;
  margin-top: 12px;
}

.maintenance-title {
  font-size: 32px;
  font-weight: 800;
  margin-left: 12px;
  margin-bottom: 18px;
}

.maintenance-container {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.maintenance-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.maintenance-search__input {
  width: 652px;
  height: 52px;
  border-radius: 30px;
  background-color: #c1caeb;
  padding-left: 24px;
  margin-top: 32px;
  color: #000;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.maintenance-search__input::placeholder {
  color: #a77d7d;
}

.maintenance-search__return {
  height: 38px;
  width: 102px;
  margin-top: 32px;
  margin-left: 64px;
  background-color: #34c759;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.maintenance-table {
  margin: 48px 24px 0px;
}

.maintenance-table__title {
  font-size: 26px;
  font-weight: 300;
  color: #374a67;
}

.ant-picker-content thead {
  display: none;
}
