.title{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 600;
}
.candidate{
    padding: 25px;
    background-color: #fff;
    /* margin: 35px 50px 0px; */
    margin-left: 35px;
    height: 558px;
    width: 95%;
    border-radius: 25px 0 0;
    box-shadow: black 5px;
}
h3{
    font-weight: bold;
}
.search-box{
    float: right;
    display: flex;
}

.box{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 15px 25px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}
.box:hover input{
    width: 400px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas{
    color: #1daf;
    font-size: 20px;
}
/* .icon{
    font-size: 15px;
    display: block;
} */
button{
    /* margin-left: 7px; */
    text-align: center;
    justify-content: center; 
    display: flex;
    font-size: 20px;
    background: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 10px 0;
}

button:hover{
    background: rgb(21, 58, 30);
}

.table{
    padding-top: 7%;
}